* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a5acb6;
}
h1,h2,h3,p {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}
p{
    font-size: 18px;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
header {
    background-color: #c5bde9;
    padding: 10px 0;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
header a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    background-color: #a5acb6;
}